body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
 
  
}
#maindiv{
  width: 45vh;
  height: 65vh;
  background-color:hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  margin-top: 15vh;
  justify-content: center;
  
}
#maindiv img{
  height:32vh;
  width: 30vh;
  margin-top: 10px;
  border-radius: 20px;
  margin-top: 0px;
}