h1{
  text-align: center;
  color: rgb(100, 56, 6);
}
.buy-now{
  color:black;
  background-color: rgb(100, 56, 6);

}
.buy-now:hover{
  color:rgb(100, 56, 6);
  background-color: black;
}
#divv{
  text-align: center;
}

p{
  font-family: italic;
}